.header-container {
  display: flex;
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--g-color-base-background);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-left: var(--global-left-padding);
  padding-right: var(--global-right-padding);
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo-container {
  font-family: 'Roboto Mono';
  margin-right: 40px;
  transition: color 0.2s ease;
}

.logo-container span:first-child {
  color: #0099ff;
}

.navigation {
  display: flex;
  font-size: 16px;
}

.navigation a {
  transition: color 0.2s ease;
}

.navigation__active {
  color: #4aa1f2;
}

.navigation a:not(:first-child) {
  margin-left: 18px;
}

.navigation-auth {
  margin-left: auto;
}

.add-telegram-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
