.global-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: var(--g-color-base-background);
  z-index: 9999;
  gap: 16px;
}
