.currencies {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 420px;

  background: var(--sidebar-background-color);
  padding: 10px 8px;
  border-radius: 8px;
}

.currencies_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.currencies-list {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.currencies-list__emplty {
  margin: auto;
}

.currency {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 6px 10px;
}

.currency:hover {
  background-color: #0099ff1f;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}
.currency_id-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.currency_id-block svg:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.currency-data {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.currency-text-block {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 140px;
  word-wrap: break-word;
}

.currency_actions {
  margin-left: auto;
}
