.delete-currency-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 20px 20px;
  min-width: fit-content;
  width: 400px;
}

.delete-currency-header {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.delete-currency-actions {
  display: flex;
  gap: 0.7em;
}
